:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.animate {
  animation: slideInRight 0.25s ease-in-out;
}

@keyframes slideInRight {
  from {
    transform: translateX(10px);
  }
  to {
    transform: translateX(0);
  }
}
